body,
html {
  max-width: 100%;
  overflow-x: hidden;
  font-family: Poppins, sans-serif;
  background-color: #1d2141;
}

header {
  margin-top: 0;
  background-color: #2e345b;
}

footer {
  display: flex;
  justify-content: center;
}

h1 {
  /* text-decoration: underline; */
  font-weight: 400;
  color: white;
}

h2 {
  margin: 5px 0 10px;
  font-size: 0.8rem;
  font-weight: 400;
  color: white;
}

span {
  /* text-decoration: #f2aa00 underline; */
  color: #f2aa00;
}

img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 9px 9px 0 0;
}

button {
  font-size: 1.5rem;
  color: white;
  background-color: #2e345b;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 10px

  /* box-shadow: 0 7px 30px rgba(0, 0, 0, 0.5); */
}

button:hover {
  cursor: pointer;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-component {
  margin: 25px 10px;
  display: inline-block;
  margin-bottom: 25px;
  width: 200px;
  height: 370px;
  background-color: #2e345b;
  border-radius: 9px;
  box-shadow: 0 10px 10px -5px black;
}

/* .movie-card-info {
  margin-top: 10px;
} */

.title {
  padding-left: 15px;
}

.genres {
  margin-top: 25px;
  margin-bottom: 25px;
}

.rating-block {
  margin-top: 2.5px;
  margin-left: 10px;
  height: 27px;
  width: 27px;
  padding: 5px;
  background-color: #1d2141;
  border-radius: 5px;
}

.red {
  color: #d92726;
  font-size: 0.8rem;
  margin-top: 0;
}

.yellow {
  color: #f2aa00;
  font-size: 0.8rem;
  margin-top: 0;
}

.green {
  color: #3dc43d;
  font-size: 0.8rem;
  margin-top: 0;
}
