body,
html {
  max-width: 100%;
  overflow-x: hidden;
  font-family: Poppins, sans-serif;
  background-color: #1d2141;
}

header {
  margin-top: 0;
  background-color: #2e345b;
}

footer {
  display: flex;
  justify-content: center;
}

p {
  position: absolute;
  right: 2px;
  bottom: 0;
  margin-right: 13px;
  text-align: right;
  font-size: 0.6rem;
  color: white;
  text-decoration: underline;
}

p:hover {
  cursor: pointer;
}

h1 {
  text-decoration: underline;
  font-weight: 400;
  color: white;
}

h2 {
  margin: 5px 0 10px;
  font-size: 0.8rem;
  font-weight: 400;
  color: white;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

h5 {
  color: white;
  padding: 0 20px;
  line-height: 30px;
  transition-delay: 0;
}

.transition-delay {
  transition-delay: 0.5s;
}

span {
  text-decoration: #f2aa00 underline;
  color: #f2aa00;
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 9px 9px 0 0;
}

button {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  background-color: #2e345b;
  border: 1px solid transparent;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 8px;
  transition: 0.3s;
}

button:hover {
  cursor: pointer;
  background-color: #f2aa00;
  color: #1d2141;
}

input {
  color: #f2aa00;
  font-size: 1rem;
  border-radius: 25px;
  height: 40px;
  width: 150px;
  background-color: #1d2141;
  border: none;
  outline: none;
  padding: 0 15px;
  caret-color: #f2aa00;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-container {
  padding: 0 15px;
  min-width: 200px;
  margin-bottom: 25px;
  transition: width 0.5s;
}

.card-component {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 200px;
  height: 370px;
  background-color: #2e345b;
  border-radius: 9px;
  box-shadow: 0 10px 10px -5px black;
}

.title {
  padding-left: 15px;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 25px;
  justify-content: center;
}

.rating-block {
  margin-top: 2.5px;
  margin-left: 10px;
  height: 27px;
  width: 27px;
  padding: 5px;
  background-color: #1d2141;
  border-radius: 5px;
}

.highlight {
  color: #f2aa00;
}

.red {
  color: #d92726;
  font-size: 0.8rem;
  margin-top: 0;
}

.yellow {
  color: #f2aa00;
  font-size: 0.8rem;
  margin-top: 0;
}

.green {
  color: #3dc43d;
  font-size: 0.8rem;
  margin-top: 0;
}

.relative {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 300px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 9px 9px 0 0;
  overflow: hidden;
}

.hidden {
  visibility: hidden;
}

.active {
  visibility: visible;
}
